.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 68px;

  font-size: 15px;
  white-space: nowrap;

  a {
    cursor: pointer;
    color: rgb(24, 58, 87);
    &.active {
      color: #ffffff;
    }
  }
}
